Repository PrismLibrary/Prism, pull requests merged in 2019-02, with the labels that each got.

#1682 [WPF] New IDialogService
  Sandbox/Wpf/HelloWorld/HelloWorld.sln
  Sandbox/Wpf/HelloWorld/HelloWorld/App.xaml.cs
  Sandbox/Wpf/HelloWorld/HelloWorld/Dialogs/ConfirmationDialog.xaml
  Sandbox/Wpf/HelloWorld/HelloWorld/Dialogs/ConfirmationDialog.xaml.cs
  Sandbox/Wpf/HelloWorld/HelloWorld/Dialogs/ConfirmationDialogViewModel.cs
  Sandbox/Wpf/HelloWorld/HelloWorld/Dialogs/CustomDialogWindow.xaml
  Sandbox/Wpf/HelloWorld/HelloWorld/Dialogs/CustomDialogWindow.xaml.cs
  Sandbox/Wpf/HelloWorld/HelloWorld/Dialogs/NotificationDialog.xaml
  Sandbox/Wpf/HelloWorld/HelloWorld/Dialogs/NotificationDialog.xaml.cs
  Sandbox/Wpf/HelloWorld/HelloWorld/Dialogs/NotificationDialogViewModel.cs
  Sandbox/Wpf/HelloWorld/HelloWorld/HelloWorld.csproj
  Sandbox/Wpf/HelloWorld/HelloWorld/ViewModels/MainWindowViewModel.cs
  Sandbox/Wpf/HelloWorld/HelloWorld/Views/MainWindow.xaml
  Source/Wpf/Prism.DryIoc.Wpf/Legacy/DryIocBootstrapper.cs
  Source/Wpf/Prism.Ninject.Wpf/Legacy/NinjectBootstrapper.cs
  Source/Wpf/Prism.Unity.Wpf/Legacy/UnityBootstrapper.cs
  Source/Wpf/Prism.Wpf/Interactivity/InteractionRequest/Confirmation.cs
  Source/Wpf/Prism.Wpf/Interactivity/InteractionRequest/IConfirmation.cs
  Source/Wpf/Prism.Wpf/Interactivity/InteractionRequest/IInteractionRequest.cs
  Source/Wpf/Prism.Wpf/Interactivity/InteractionRequest/IInteractionRequestAware.cs
  Source/Wpf/Prism.Wpf/Interactivity/InteractionRequest/INotification.cs
  Source/Wpf/Prism.Wpf/Interactivity/InteractionRequest/InteractionRequest.cs
  Source/Wpf/Prism.Wpf/Interactivity/InteractionRequest/InteractionRequestTrigger.cs
  Source/Wpf/Prism.Wpf/Interactivity/InteractionRequest/InteractionRequestedEventArgs.cs
  Source/Wpf/Prism.Wpf/Interactivity/InteractionRequest/Notification.cs
  Source/Wpf/Prism.Wpf/Interactivity/PopupWindowAction.cs
  Source/Wpf/Prism.Wpf/Ioc/IContainerRegistryExtensions.cs
  Source/Wpf/Prism.Wpf/PrismApplicationBase.cs
  Source/Wpf/Prism.Wpf/Services/Dialogs/DefaultDialogs/DialogWindow.xaml
  Source/Wpf/Prism.Wpf/Services/Dialogs/DefaultDialogs/DialogWindow.xaml.cs
  Source/Wpf/Prism.Wpf/Services/Dialogs/DialogParameters.cs
  Source/Wpf/Prism.Wpf/Services/Dialogs/DialogResult.cs
  Source/Wpf/Prism.Wpf/Services/Dialogs/DialogService.cs
  Source/Wpf/Prism.Wpf/Services/Dialogs/DialogViewModelBase.cs
  Source/Wpf/Prism.Wpf/Services/Dialogs/IDialogAware.cs
  Source/Wpf/Prism.Wpf/Services/Dialogs/IDialogParameters.cs
  Source/Wpf/Prism.Wpf/Services/Dialogs/IDialogResult.cs
  Source/Wpf/Prism.Wpf/Services/Dialogs/IDialogService.cs
  Source/Wpf/Prism.Wpf/Services/Dialogs/IDialogWindow.cs
  Source/Wpf/Prism.Wpf/Services/Dialogs/IDialogWindowExtensions.cs
Labels: WPF

#1684 xamarin forms xaml navigation animated
  Sandbox/Xamarin/HelloWorld/HelloWorld/HelloWorld.Android/HelloWorld.Android.csproj
  Sandbox/Xamarin/HelloWorld/HelloWorld/HelloWorld.Android/Resources/Resource.designer.cs
  Sandbox/Xamarin/HelloWorld/HelloWorld/HelloWorld.UWP/HelloWorld.UWP.csproj
  Sandbox/Xamarin/HelloWorld/HelloWorld/HelloWorld.iOS/HelloWorld.iOS.csproj
  Sandbox/Xamarin/HelloWorld/HelloWorld/HelloWorld/HelloWorld.csproj
  Sandbox/Xamarin/HelloWorld/HelloWorld/HelloWorld/Views/MyMasterDetail.xaml
  Sandbox/Xamarin/HelloWorld/ModuleA/ModuleA.csproj
  Source/Xamarin/Prism.Forms/Navigation/Xaml/GoBackExtension.cs
  Source/Xamarin/Prism.Forms/Navigation/Xaml/NavigateToExtension.cs
  Source/Xamarin/Prism.Forms/Navigation/Xaml/NavigationExtensionBase.cs
Labels: XF

#1685 UWP DI updates
  Sandbox/Windows10/HelloWorld/HelloWorld.Unity/App.xaml.cs
  Sandbox/Windows10/HelloWorld/HelloWorld.Unity/Converters/ItemClickedConverter.cs
  Sandbox/Windows10/HelloWorld/HelloWorld.Unity/HelloWorld.Unity.csproj
  Sandbox/Windows10/HelloWorld/HelloWorld.Unity/ViewModels/ItemPageViewModel.cs
  Sandbox/Windows10/HelloWorld/HelloWorld.Unity/ViewModels/MainPageViewModel.cs
  Sandbox/Windows10/HelloWorld/HelloWorld.Unity/Views/ItemPage.xaml
  Sandbox/Windows10/HelloWorld/HelloWorld.Unity/Views/ItemPage.xaml.cs
  Sandbox/Windows10/HelloWorld/HelloWorld.Unity/Views/MainPage.xaml
  Sandbox/Windows10/HelloWorld/HelloWorld.Unity/Views/MainPage.xaml.cs
  Sandbox/Windows10/SampleData/IDatabase.cs
  Sandbox/Windows10/SampleData/SampleData.csproj
  Sandbox/Windows10/SampleData/StarTrek/Database.cs
  Source/Prism/Ioc/IContainerProvider.cs
  Source/Prism/Ioc/IContainerProviderExtensions.cs
  Source/Prism/Prism.csproj
  Source/Windows10/Prism.DryIoc.Windows/DryIocContainerExtension.cs
  Source/Windows10/Prism.DryIoc.Windows/Prism.DryIoc.Windows.csproj
  Source/Windows10/Prism.DryIoc.Windows/PrismApplication.cs
  Source/Windows10/Prism.Unity.Windows/Prism.Unity.Windows.csproj
  Source/Windows10/Prism.Unity.Windows/PrismApplication.cs
  Source/Windows10/Prism.Unity.Windows/UnityContainerExtension.cs
  Source/Windows10/Prism.Windows/IPrismApplicationBase.cs
  Source/Windows10/Prism.Windows/Navigation/FrameFacade.cs
  Source/Windows10/Prism.Windows/Navigation/IFrameFacadeProvider.cs
  Source/Windows10/Prism.Windows/Navigation/IFrameProvider.cs
  Source/Windows10/Prism.Windows/Navigation/INavigationParametersExtensions.cs
  Source/Windows10/Prism.Windows/Navigation/INavigationServiceExtensions.cs
  Source/Windows10/Prism.Windows/Navigation/NavigationService.cs
  Source/Windows10/Prism.Windows/Navigation/NavigationServiceRegistry.cs
  Source/Windows10/Prism.Windows/Navigation/PathBuilder.cs
  Source/Windows10/Prism.Windows/Prism.Windows.csproj
  Source/Windows10/Prism.Windows/PrismApplicationBase.core.cs
  Source/Windows10/Prism.Windows/Services/Gesture/GestureService.cs
  Source/Windows10/Prism.Windows/Services/Gesture/GestureServiceRegistry.cs
  Source/Windows10/Prism.Windows/Services/Gesture/IDestructibleGestureService.cs
  Source/Wpf/Prism.DryIoc.Wpf/Ioc/DryIocContainerExtension.cs
  Source/Wpf/Prism.Ninject.Wpf/Ioc/NinjectContainerExtension.cs
  Source/Wpf/Prism.Unity.Wpf/Ioc/UnityContainerExtension.cs
  Source/Wpf/Prism.Wpf.Tests/Mocks/MockContainerAdapter.cs
  Source/Xamarin/Prism.DryIoc.Forms/DryIocContainerExtension.cs
  Source/Xamarin/Prism.Forms.Tests/Mocks/PageNavigationContainerMock.cs
  Source/Xamarin/Prism.Unity.Forms/UnityContainerExtension.cs
Labels: UWP

#1709 [WPF] Added support for IDestructible
  Source/Prism/Prism.csproj
  Source/Wpf/Prism.Wpf.Tests/BootstrapperFixture.cs
  Source/Wpf/Prism.Wpf/Bootstrapper.cs
  Source/Wpf/Prism.Wpf/PrismApplicationBase.cs
  Source/Wpf/Prism.Wpf/Regions/Behaviors/IDestructibleRegionBehavior.cs
Labels: WPF

#1721 added support to control DialogWindow propertes from style
  Sandbox/Wpf/HelloWorld/HelloWorld/App.xaml.cs
  Sandbox/Wpf/HelloWorld/HelloWorld/Dialogs/ConfirmationDialog.xaml
  Source/Wpf/Prism.Wpf/Ioc/IContainerRegistryExtensions.cs
  Source/Wpf/Prism.Wpf/Properties/AssemblyInfo.cs
  Source/Wpf/Prism.Wpf/Services/Dialogs/DefaultDialogs/DialogWindow.xaml
  Source/Wpf/Prism.Wpf/Services/Dialogs/DialogService.cs
  Source/Wpf/Prism.Wpf/Services/Dialogs/IDialogWindow.cs
Labels: WPF
