Repository PrismLibrary/Prism, pull requests merged in 2020-04, with the labels that each got.

#2053 Added overload for IEventAggregator to provide filter
  build/steps/prepare-build.yml
  src/Prism.Core/Events/PubSubEvent.cs
  tests/Prism.Core.Tests/Events/PubSubEventFixture.cs
Labels: Core

#2060 Adding IContainerInfo
  src/Containers/Prism.DryIoc.Shared/DryIocContainerExtension.cs
  src/Containers/Prism.Unity.Shared/UnityContainerExtension.cs
  src/Prism.Core/Ioc/Internals/IContainerInfo.cs
  src/Prism.Core/Ioc/Internals/IContainerInfoExtensions.cs
  src/Wpf/Prism.DryIoc.Wpf/Legacy/DryIocBootstrapper.cs
  src/Wpf/Prism.DryIoc.Wpf/PrismApplication.cs
  src/Wpf/Prism.DryIoc.Wpf/Regions/DryIocRegionNavigationContentLoader.cs
  src/Wpf/Prism.Unity.Wpf/Legacy/UnityBootstrapper.cs
  src/Wpf/Prism.Unity.Wpf/PrismApplication.cs
  src/Wpf/Prism.Unity.Wpf/Regions/UnityRegionNavigationContentLoader.cs
  src/Wpf/Prism.Wpf/Regions/RegionNavigationContentLoader.cs
  tests/Wpf/Prism.Container.Wpf.Shared/Fixtures/Regions/RegionNavigationContentLoaderFixture.cs
  tests/Wpf/Prism.DryIoc.Wpf.Tests/ContainerHelper.cs
  tests/Wpf/Prism.Unity.Wpf.Tests/ContainerHelper.cs
Labels: Core, WPF

#2063 Fixed some CS1572, 1573, 1574 and 1591 warnings
  src/Forms/Prism.Forms/Navigation/INavigationServiceExtensions.cs
  src/Forms/Prism.Forms/Navigation/PageNavigationService.cs
  src/Forms/Prism.Forms/Navigation/TabbedPages/INavigationServiceExtensions.cs
  src/Forms/Prism.Unity.Forms/PrismApplication.cs
  src/Prism.Core/Common/ParametersBase.cs
  src/Prism.Core/Modularity/IModuleInfo.cs
  src/Prism.Core/Modularity/IModuleInfoGroup.cs
  src/Wpf/Prism.DryIoc.Wpf/Legacy/DryIocExtensions.cs
Labels: Core, XF, documentation

#2085 Refactored parameter classes to use ParametersBase class
  src/Wpf/Prism.Wpf/Regions/NavigationParameters.cs
  src/Wpf/Prism.Wpf/Services/Dialogs/DialogParameters.cs
Labels: WPF

#2092 Added unit tests for new PrismBootstrapperBase
  tests/Wpf/Prism.Wpf.Tests/PrismBootstapperBaseFixture.cs
Labels: WPF

#2084 added Task extensions for async/void tasks
  src/Prism.Core/Extensions/TaskExtensions.cs
  src/Prism.Core/Extensions/TaskExtensions{T}.cs
  tests/Prism.Core.Tests/Extensions/TaskExtensionsFixture.cs
Labels: Core

#2086 Updates for Container Extensions
  src/Containers/Prism.DryIoc.Shared/DryIocContainerExtension.cs
  src/Containers/Prism.Unity.Shared/UnityContainerExtension.cs
  src/Forms/Prism.DryIoc.Forms/PrismApplication.cs
  src/Forms/Prism.Forms/Services/Dialogs/DialogService.cs
  src/Prism.Core/Ioc/ContainerResolutionErrorCollection.cs
  src/Prism.Core/Ioc/ContainerResolutionException.cs
  src/Prism.Core/Ioc/IContainerProvider.cs
  src/Prism.Core/Ioc/IContainerProviderExtensions.cs
  src/Prism.Core/Ioc/IContainerRegistry.cs
  src/Prism.Core/Ioc/IContainerRegistryExtensions.cs
  src/Prism.Core/Ioc/Internals/IContainerInfo.cs
  src/Prism.Core/Ioc/Internals/IContainerInfoExtensions.cs
  src/Wpf/Prism.DryIoc.Wpf/Legacy/DryIocBootstrapper.cs
  src/Wpf/Prism.DryIoc.Wpf/PrismApplication.cs
  src/Wpf/Prism.DryIoc.Wpf/PrismBootstrapper.cs
  src/Wpf/Prism.Wpf/Services/Dialogs/IDialogResult.cs
  tests/Forms/Prism.DI.Forms.Tests/Fixtures/Ioc/ContainerExtensionTests.cs
  tests/Forms/Prism.DI.Forms.Tests/Fixtures/Ioc/ContainerProviderFixture.cs
  tests/Forms/Prism.DI.Forms.Tests/Fixtures/Ioc/ContainerResolutionExceptionFixture.cs
  tests/Forms/Prism.DI.Forms.Tests/Fixtures/Navigation/XamlNavigationFixture.cs
  tests/Forms/Prism.DI.Forms.Tests/Fixtures/PartialViewFixture.cs
  tests/Forms/Prism.DI.Forms.Tests/Fixtures/PrismApplicationFixture.cs
  tests/Forms/Prism.DI.Forms.Tests/Mocks/Services/AggregateService.cs
  tests/Forms/Prism.DI.Forms.Tests/Mocks/Services/ServiceMock.cs
  tests/Forms/Prism.DI.Forms.Tests/Mocks/Views/BadView.cs
  tests/Forms/Prism.DI.Forms.Tests/Prism.DI.Forms.Tests.projitems
  tests/Forms/Prism.DryIoc.Forms.Tests/Prism.DryIoc.Forms.Tests.csproj
  tests/Forms/Prism.Forms.Tests/Mocks/ContainerMock.cs
  tests/Forms/Prism.Forms.Tests/Mocks/PageNavigationContainerMock.cs
  tests/Forms/Prism.Forms.Tests/Mocks/PageNavigationServiceMock.cs
  tests/Forms/Prism.Forms.Tests/Modularity/ModuleFixture.cs
  tests/Forms/Prism.Forms.Tests/Navigation/INavigationServiceExtensionsFixture.cs
  tests/Forms/Prism.Forms.Tests/Navigation/PageNavigationServiceFixture.cs
  tests/Forms/Prism.Forms.Tests/Prism.Forms.Tests.csproj
  tests/Forms/Prism.Forms.Tests/Services/DialogServiceTests.cs
  tests/Forms/Prism.Forms.Tests/Services/Mocks/Ioc/DialogContainerExtension.cs
  tests/Forms/Prism.Unity.Forms.Tests/Prism.Unity.Forms.Tests.csproj
  tests/Prism.Core.Tests/Ioc/ContainerLocatorFixture.cs
  tests/Prism.Core.Tests/Ioc/ContainerRegistryExtensionsFixture.cs
  tests/Prism.Core.Tests/Mocks/Ioc/MockContainerExtension.cs
  tests/Prism.Core.Tests/Prism.Core.Tests.csproj
  tests/Wpf/Prism.Container.Wpf.Shared/Fixtures/Regions/RegionNavigationContentLoaderFixture.cs
  tests/Wpf/Prism.DryIoc.Wpf.Tests/Fixtures/ContainerLocatorFixture.cs
  tests/Wpf/Prism.Wpf.Tests/Mocks/MockContainerAdapter.cs
Labels: Core, enhancement

#2096 Added PrismBootstrapper tests
  tests/Wpf/Prism.Wpf.Tests/PrismBootstapperBaseFixture.cs
Labels: WPF

#2107 Fixed ConfigureViewModelLocator implementation
  src/Wpf/Prism.Wpf/PrismApplicationBase.cs
  src/Wpf/Prism.Wpf/PrismBootstrapperBase.cs
  src/Wpf/Prism.Wpf/PrismInitializationExtensions.cs
Labels: WPF
