Repository PrismLibrary/Prism, pull requests merged in 2020-08, with the labels that each got.

#2168 Region fixes
  build/azure-pipelines.yml
  e2e/Forms/src/HelloRegions/RegionDemoModule.cs
  src/Forms/Prism.Forms.Regions/Ioc/RegionNavigationRegistrationExtensions.cs
  src/Forms/Prism.Forms.Regions/Regions/Adapters/CollectionViewRegionAdapter.cs
  src/Forms/Prism.Forms.Regions/Regions/Adapters/LayoutViewRegionAdapter.cs
  src/Forms/Prism.Forms.Regions/Regions/Adapters/ScrollViewRegionAdapter.cs
Labels: XF

#2178 [Breaking] Remove Legacy Bootstrapper
  e2e/Wpf/HelloWorld.Bootstraper/Bootstrapper.cs
  src/Wpf/Prism.DryIoc.Wpf/Legacy/DryIocBootstrapper.cs
  src/Wpf/Prism.DryIoc.Wpf/Legacy/DryIocExtensions.cs
  src/Wpf/Prism.DryIoc.Wpf/Properties/Resources.Designer.cs
  src/Wpf/Prism.DryIoc.Wpf/Properties/Resources.resx
  src/Wpf/Prism.Unity.Wpf/Legacy/UnityBootstrapper.cs
  src/Wpf/Prism.Unity.Wpf/Legacy/UnityContainerHelper.cs
  src/Wpf/Prism.Unity.Wpf/Legacy/UnityExtensions.cs
  src/Wpf/Prism.Unity.Wpf/Properties/Resources.Designer.cs
  src/Wpf/Prism.Unity.Wpf/Properties/Resources.resx
  src/Wpf/Prism.Wpf/Bootstrapper.cs
  src/Wpf/Prism.Wpf/PrismBootstrapperBase.cs
  tests/Wpf/Prism.Container.Wpf.Shared/Fixtures/Bootstrapper/BootstrapperNullModuleManagerFixture.cs
  tests/Wpf/Prism.Container.Wpf.Shared/Fixtures/Bootstrapper/BootstrapperRunMethodFixture.cs
  tests/Wpf/Prism.Container.Wpf.Shared/Mocks/NullModuleCatalogBootstrapper.cs
  tests/Wpf/Prism.Container.Wpf.Shared/Mocks/NullModuleManagerBootstrapper.cs
  tests/Wpf/Prism.Container.Wpf.Shared/Prism.Container.Wpf.Shared.projitems
  tests/Wpf/Prism.DryIoc.Wpf.Tests/Fixtures/BootstrapperRunMethodFixture.cs
  tests/Wpf/Prism.DryIoc.Wpf.Tests/Mocks/MockBootstrapper.cs
  tests/Wpf/Prism.DryIoc.Wpf.Tests/Mocks/MockedContainerBootstrapper.cs
  tests/Wpf/Prism.DryIoc.Wpf.Tests/Mocks/NullContainerBootstrapper.cs
  tests/Wpf/Prism.DryIoc.Wpf.Tests/Mocks/NullLoggerBootstrapper.cs
  tests/Wpf/Prism.DryIoc.Wpf.Tests/Mocks/NullModuleCatalogBootstrapper.cs
  tests/Wpf/Prism.DryIoc.Wpf.Tests/Mocks/NullModuleManagerBootstrapper.cs
  tests/Wpf/Prism.IocContainer.Wpf.Tests.Support/BootstrapperFixtureBase.cs
  tests/Wpf/Prism.Unity.Wpf.Tests/Fixtures/BootstrapperNullContainerFixture.cs
  tests/Wpf/Prism.Unity.Wpf.Tests/Mocks/MockBootstrapper.cs
  tests/Wpf/Prism.Unity.Wpf.Tests/Mocks/MockedContainerBootstrapper.cs
  tests/Wpf/Prism.Unity.Wpf.Tests/Mocks/NullContainerBootstrapper.cs
  tests/Wpf/Prism.Unity.Wpf.Tests/Mocks/NullLoggerBootstrapper.cs
  tests/Wpf/Prism.Unity.Wpf.Tests/Mocks/NullModuleCatalogBootstrapper.cs
  tests/Wpf/Prism.Unity.Wpf.Tests/Mocks/NullModuleManagerBootstrapper.cs
  tests/Wpf/Prism.Wpf.Tests/BootstrapperFixture.cs
  tests/Wpf/Prism.Wpf.Tests/PrismBootstapperBaseFixture.cs
  tests/Wpf/Prism.Wpf.Tests/Regions/LocatorNavigationTargetHandlerFixture.cs
Labels: WPF

#2180 add ModuleInfo collection to IModuleManager
  src/Forms/Prism.Forms/Modularity/IModuleCatalogExtensions.cs
  src/Forms/Prism.Forms/Modularity/ModuleManager.cs
  src/Prism.Core/Modularity/IModuleCatalogCoreExtensions.cs
  src/Prism.Core/Modularity/IModuleManager.cs
  src/Prism.Core/Modularity/IModuleManagerExtensions.cs
  src/Wpf/Prism.Wpf/Modularity/ModuleManager.cs
  tests/Forms/Prism.Forms.Tests/Modularity/ModuleManagerExtensionsFixture.cs
  tests/Wpf/Prism.Wpf.Tests/Modularity/ModuleManagerExtensionsFixture.cs
Labels: Core, enhancement
